/* Responsive CSS Document */


/* 
    Created on : 9/6/2019. 
    Description: AMS- ThunderBolt
    Author     : @NitinMadhukar @Sourabh Gupta @Onkar Telenge.
   
*/

@media (min-width: 992px) {
    .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media (max-width: 1400px) {
    .homepage .centered {
        font-size: 6rem;
    }
}

@media (max-width: 1366px) {
    .scroll-top {
        bottom: 30px;
        right: 30px;
    }
    .homepage .centered {
        font-size: 6rem;
    }
}

@media (max-width: 1199px) {
    #team-section .team-member-wrapper .single-team-member .img .opacity p {
        padding: 0 15px;
    }
    #team-section .team-member-wrapper .single-team-member .img .opacity {
        padding-top: 20px;
    }
    .habilidades_contenedor {
        margin-top: 100px;
    }
    .homepage .centered {
        font-size: 5rem;
    }
}


/*(max-width: 1199px)*/

@media (max-width: 991px) {
    .game-holder .header h2 {
        letter-spacing: auto;
    }
    .theme-title p,
    #skill-section .img img {
        width: 100%;
    }
    #skill-section {
        padding-bottom: 30px;
    }
    .blog-details-page aside {
        margin-top: 100px;
    }
    .blog-details-post-wrapper>.row p {
        margin-bottom: 30px;
    }
    #project-section .container {
        padding-bottom: 70px;
        height: 3000px;
    }
    .homepage .centered {
        font-size: 4.5rem;
    }
}


/*(max-width: 991px)*/

@media (min-width: 992px) and (max-width: 1199px) {
    #our-client .client-slider p {
        width: 70%;
    }
    .recent-single-post .post {
        width: 75%;
    }
    #about-us .container .theme-title p {
        font-size: 30px;
    }
}


/*(min-width: 992px) and (max-width: 1199px)*/

@media (min-width: 768px) and (max-width: 991px) {
    #project-section .project-gallery .grid-item,
    #team-section .team-member-wrapper .float-left {
        width: 50%;
    }
    #our-client .client-slider p {
        width: 90%;
    }
    .inner-page-banner .opacity {
        padding-top: 210px;
    }
    #project-section .container {
        padding-bottom: 70px;
        height: auto;
    }
    footer {
        margin: 100px 0 0 0;
        background: #1e1e1e;
        margin-top: 300px;
        padding: 60px 0 25px 0;
        text-align: center;
    }
    #about-us .container .theme-title p {
        font-size: 30px;
    }
    #service-section .row .single-service-content {
        padding: 100px 50px 80px 40px;
        font-size: 13px;
    }
    .homepage .centered {
        font-size: 3.5rem;
    }
}


/*(min-width: 768px) and (max-width: 991px)*/

@media (max-width: 767px) {
    .scroll-top {
        bottom: 10px;
        right: 5px;
    }
    #pricing-section .single-price-table {
        margin-bottom: 50px;
    }
    #project-section .project-gallery .grid-item {
        width: 50%;
    }
    #team-section .team-member-wrapper .float-left,
    #team-section .team-member-wrapper .float-left img,
    #our-client .client-slider p {
        width: 100%;
    }
    #team-section .team-member-wrapper .float-left,
    #project-section .project-gallery .grid-item,
    #service-section .row [class*="col-"],
    #skill-section [class*="col-"],
    #pricing-section [class*="col-"],
    #contact-section .send-message,
    #contact-section .contact-address-content [class*="col-"],
    #blog-section [class*="col-"],
    .theme-main-header .container,
    .blog-details-page .p-fix {
        padding-left: 0;
        padding-right: 0;
    }
    #project-section .container {
        padding-bottom: 70px;
        height: auto;
    }
    #about-us .container .theme-title p {
        font-size: 30px;
    }
    footer {
        margin: 100px 0 0 0;
        background: #1e1e1e;
        margin-top: 400px;
        padding: 60px 0 25px 0;
        text-align: center;
    }
    footer#team {
        margin: 20px 0 0 0;
        background: #1e1e1e;
        padding: 60px 0 25px 0;
        text-align: center;
    }
    .homepage .centered {
        font-size: 2.5rem;
    }
}


/*(max-width: 767px)*/

@media (max-width: 650px) {
    #success,
    #error {
        width: 84%;
        height: auto;
        top: calc(50% - 50px);
        left: 8%;
        padding: 30px 10px;
        margin: 0;
    }
    .blog-details-post-wrapper .list-img-wrapper img,
    .blog-details-post-wrapper .post-share-area ul {
        float: none;
        width: 100%;
    }
    .blog-details-post-wrapper .list-img-wrapper ul {
        float: none;
        padding: 30px 0 0 0;
    }
    .blog-details-post-wrapper .post-share-area .share-icon li:first-child {
        margin-top: 30px;
    }
    div#about-us p {
        font-size: 36px;
    }
    footer {
        margin: 100px 0 0 0;
        background: #1e1e1e;
        margin-top: 400px;
        padding: 60px 0 25px 0;
        text-align: center;
    }
    #service-section .row .single-service-content {
        height: auto;
    }
    #about-us .container .theme-title p {
        font-size: 22px;
    }
    .page-middle-banner .opacity h3 {
        font-size: 25px;
    }
    .homepage .centered {
        font-size: 2rem;
    }
    .homepage #particle-canvas .logo img {
        margin: 10px 0;
        height: 80px;
        width: 100%;
        z-index: 100;
        padding-left: 10px;
    }
}

@media (max-width: 550px) {
    #project-section .project-gallery .grid-item,
    #project-section .project-gallery .grid-item img {
        width: 100%;
    }
    #project-section .project-menu ul li {
        font-size: 14px;
        margin: 15px 2px 0;
        border-bottom: 1px solid #fff;
    }
    #team-section .team-member-wrapper .single-team-member .img .opacity span {
        margin: 5px 0;
    }
    #team-section team-member-wrapper .single-team-member .member-name ul li a {
        width: 40px;
        line-height: 38px;
    }
    .banner h1 {
        font-size: 35px;
    }
    #about-us .container .theme-title p {
        font-size: 20px;
    }
    #service-section .row .single-service-content {
        height: auto;
    }
    footer {
        margin: 100px 0 0 0;
        background: #1e1e1e;
        margin-top: 400px;
        padding: 60px 0 25px 0;
        text-align: center;
    }
    #project-section .container .theme-title h2 {
        font-size: 35px;
    }
    #project-section .container .theme-title p {
        font-size: 20px;
    }
    .page-middle-banner .opacity h3 {
        font-size: 25px;
    }
    .banner h6 {
        color: white;
        font-weight: bold;
        font-size: 15px;
        margin-top: -50px;
    }
    .adverb {
        font-size: 15px;
        color: black;
        font-weight: bold;
        margin-top: -50px;
    }
    .homepage #particle-canvas .logo img {
        margin: 10px 0;
        height: 70px;
        width: 90px;
        z-index: 100;
        padding-left: 10px;
    }
    #loader-wrapper #preloader_1 {
        font-size: 13px;
    }
}

@media (max-width: 430px) {
    .banner h1 {
        font-size: 27px;
    }
    .banner h6 {
        font-size: 14px;
    }
    .hermes.tparrows {
        display: none;
    }
    .recent-single-post .post {
        width: 100%;
        padding: 12px 0 0 0;
    }
    #about-us .container .theme-title h2 {
        font-size: 25px;
    }
    #about-us .container .theme-title p {
        font-size: 19px;
        line-height: 25px;
    }
    footer {
        margin: 100px 0 0 0;
        background: #1e1e1e;
        margin-top: 400px;
        padding: 60px 0 25px 0;
        text-align: center;
    }
    #service-section .row .single-service-content {
        height: auto;
    }
    #project-section .container .theme-title h2 {
        font-size: 30px;
    }
    #project-section .container .theme-title p {
        font-size: 20px;
    }
    .page-middle-banner .opacity h3 {
        font-size: 20px;
    }
    .banner h6 {
        color: #e04f5d;
        font-weight: bold;
        font-size: 10px;
        margin-top: -50px;
    }
    .adverb {
        font-size: 10px;
        color: #e04f5d;
        font-weight: bold;
        margin-top: -50px;
    }
    .homepage .centered {
        font-size: 2rem;
    }
    .homepage #particle-canvas .logo img {
        margin: 10px 0;
        height: 70px;
        width: 70px;
        z-index: 100;
        padding-left: 10px;
    }
    #loader-wrapper #preloader_1 {
        font-size: 12px;
    }
}

@media (max-width: 395px) {
    #about-us .container .theme-title h2 {
        font-size: 25px;
    }
    #about-us .container .theme-title p {
        font-size: 15px;
        line-height: 25px;
    }
}